<div class="block-menu">
  <div class="block-menu-img"><i class="fa-solid fa-wind"></i></div>
  <div class="block-menu-menu">
    <div class="block-menu-all block-active">
      <i class="fa-solid fa-cloud-sun-rain"></i>
      <p>Weather</p>
    </div>
    <div class="block-menu-all">
      <i class="fa-solid fa-layer-group"></i>
      <p>Cities</p>
    </div>
    <div class="block-menu-all">
      <i class="fa-solid fa-map"></i>
      <p>Map</p>
    </div>
    <div class="block-menu-all">
      <i class="fa-solid fa-sliders"></i>
      <p>Settins</p>
    </div>
  </div>
</div>
